<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2adc7">  <td>18/12/24 03:45:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmartBoxCart.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.SmartBoxCart@150c158]">feature</td> 
  <td>main@1157058691</td>   <td></td> </tr>
<tr bgcolor="e2adc7">  <td>18/12/24 03:45:30</td>   <td>26346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmartBoxCart.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.SmartBoxCart@150c158]">feature</td> 
  <td>main@1157058691</td>   <td></td> </tr>
<tr bgcolor="e2adc7">  <td>18/12/24 03:44:59</td>   <td>-4300</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SmartBoxCart.setUpClass()[pri:0, instance:runner.SmartBoxCart@150c158]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1157058691</td>   <td></td> </tr>
<tr bgcolor="e2adc7">  <td>18/12/24 03:45:36</td>   <td>32494</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SmartBoxCart.tearDownClass()[pri:0, instance:runner.SmartBoxCart@150c158]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1157058691</td>   <td></td> </tr>
</table>
